/* google font */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:wght@400;500;600&family=Potta+One&family=Roboto+Slab:wght@300&display=swap');
/* 
font-family: 'Alkatra', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Potta One', cursive;
font-family: 'Roboto Slab', serif;
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #373b69;

}

header{
    padding: 16px;
    background-color: #1f234c;
    display: flex;
    justify-content: space-between;
}

#main_heading{
    cursor: pointer;
    width: 200px;
    padding-inline: 39px;
    color: rgb(202, 81, 60);
    font-family: 'Potta One', cursive;
}

header input{
    background-color:transparent;
    border: 2px solid #363da0;
    border-radius: 50px;
    padding: 7px;
    color: antiquewhite;
    font-family: inherit;

}

#search::placeholder{
    color: aliceblue;
}
#search:focus{
    outline: none;
    background-color:#5d64bb;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.movie {
   
    background-color: #1f234c;
    width: 190px;
    margin: 20px;
    overflow: hidden;
    position:relative;
}

.movie img {
    max-width: 100%;

}

.movie-info {
    /* background-color: antiquewhite; */
    margin-top: -6px;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-inline: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    align-items: center;
}

.movie-info span {
    background-color: #333769;
    padding: 2px;
    margin-right: 5px;
    font-weight:bolder;
    font-size: 15px;
}

.green {
    color: rgb(18, 177, 18);
}
.orange{
    color: orange;
}
.red {
    color: red;
}

.overview{
   
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    font-size: 12px;
    overflow:auto;
    transform: translateY(102%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(20%);
}

#pagination{
    display: flex;
    justify-content: center;
}

#pagination button{
    margin-inline: 10px;
    font-size: 20px;
    width: 25px;
    border-radius: 13px;
    border: 2px solid #1f234c;
}
#btn_l #btn_r{
    /* margin-inline: 2px; */
    font-weight: bolder;
    /* font-size: 2px; */
}